@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*::before,
::after {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

input {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #f1f1f1;
    padding: 30px;
}

.container h1 {
    text-align: center;
    margin: 0;
    font-size: 90px;
    font-family: 'Merienda One';
    font-family: cursive;
    font-weight: 700;
    color: grey;
}

.add-pet {
    max-width: 50%;
    min-height: 300px;
    background-color: #fff;
    margin: 30px auto;
    padding: 10px;
    padding-top: 50px;
}

.add-pet input {
    display: block;
    margin: 15px auto;
    width: 250px;
    height: 40px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.add-pet button {
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    background: #f1f1f1;
}

.add-pet button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.4)
}

.item {
    max-width: 50%;
    min-height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item h3 {
    margin: 0;
}

.item .buttons-wrapper {

}

.item .edit-btn {
    margin-left: 10px;
    border: none;
    background-image: url(../images/exchange.svg);
    background-size: cover;
    width: 25px;
    height: 25px;
}

.item .remove-btn {
    border: none;
    background-image: url(../images/trash.svg);
    background-size: cover;
    width: 25px;
    height: 25px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: all ease 1s;
  }

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content .numb-span {
    font-size: 50px;
    font-family: 'Merienda One';
    font-family: cursive;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.modal-content .id-paragraph {
    font-size: 90px;
    font-family: 'Merienda One';
    font-family: cursive;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: center;
}

.modal-content input {
    display: block;
    margin: 15px auto;
    width: 250px;
    height: 40px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-wrapper button {
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    background: #f1f1f1;
}

.button-wrapper button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.4)
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close img {
      width: 20px;
      height: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}